.App {
  text-align: center;
  background-color: yellow;
}
.body{
      background-color: red;
}
.cross{
 text-decoration: line-through;
}
.addYour{
           color: black;
    text-align: center;
    box-shadow: 0px 0px 13px grey;
    border-radius: 5px;
    width: 574px;
    margin: 2% 2% 2% 31%;
    height: 44px;
}
.buttonX{
     color: red;
    margin: 0% 0% 0% 20%;
    position: absolute;
    left: 53%;
}
.uncross{
         color: black;
    text-align: center;
    box-shadow: 0px 0px 4px grey;
    border-radius: 5px;
    width: 577px;
    margin: 0% 0% 0% 31%;
    padding: 3px;
    height: 23px;
}
.cross{
      color: black;
    text-align: center;
    box-shadow: 0px 0px 4px grey;
    border-radius: 5px;
    width: 577px;
    margin: 0% 0% 0% 31%;
    padding: 3px;
    height: 23px;
}
.subm{
      text-align: center;
    border-radius: 5px;
    width: 63px;
    margin: 2% 2% 2% 5%;
    height: 25px;
}
.clearButton{
      text-align: center;
    border-radius: 5px;
    width: 63px;
    font-size: 14px;
    color: white;
    background-color: #ff000082;
    margin: 2% 2% 2% 51%;
    height: 25px;
}
.inputText{
      color: black;
    text-align: center;
    /* box-shadow: 0px 0px 24px grey; */
    /* border-radius: 5px; */
    width: 140px;
    margin: 0% 0% 0% 1%;
    height: 20px;
}
.check{
          margin: 9px 66% 0% 0%;
    position: absolute;
    left: 32%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
